body {
  background-color: #00000c;
  font-size: 1.5rem;
  
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
  
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 3rem;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  font-size: 1.5rem;
  margin: .5rem;
}

.visuals{
  display: flex;
  gap: 1rem;
}

.img-store{
  height: 400px;
  width: 600px;
  border-radius: 10px;
  display: none;
}

.img-cave{
  height: 400px;
  width: 600px;
  border-radius: 10px;
 margin-left: 616px;
 display: none;
}

.img-slime{
  margin-left: 200px;
  border-radius: 20px;
  display: none;
}


.img-beast{
  height: 400px;
  width: 600px;
  border-radius: 10px;
 margin-left: 200px;
 display: none;
 
}